<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>

	<link href="/assets/css/login.css" rel="stylesheet" type="text/css">


</head>

<body>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 
 

<div class="Login">
<h1 style="text-align: center;">Register</h1>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Welcome to our Delicious family</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="register">
                                 
                                <div class="form-group">
                                    <label  for="loginEmail" class="control-label">UserName</label>
                                    <input type="text" placeholder="UserName" class="form-control" name="username" />
                                </div>

		                        		<% if (errors && errors.length> 0) { %>
					                         <span style="color: red;">
						                            <% errors.forEach(error=> { %>
							                            <% if(error.path==='username' ) {%>
								                            <%= error.msg %>
									                              <% } %>
										                        <% }); %>
					                          </span>
					                      <% } %>

                                <div class="form-group">
                                  <label  for="loginEmail" class="control-label">Email ID</label>
                                  <input type="email" placeholder="Email" class="form-control" name="email" />
                                </div>

                                <% if (errors && errors.length> 0) { %>
                                  <span style="color: red;">
                                       <% errors.forEach(error=> { %>
                                         <% if(error.path==='email' ) {%>
                                           <%= error.msg %>
                                               <% } %>
                                           <% }); %>
                                   </span>
                                <% } %>

                              <div class="form-group">
                                <label  for="loginEmail" class="control-label">Phone No.</label>
                                <input type="text" placeholder="Phone Number" class="form-control" name="phone" />
                              </div>

                              <% if (errors && errors.length> 0) { %>
                                <span style="color: red;">
                                     <% errors.forEach(error=> { %>
                                       <% if(error.path==='phone' ) {%>
                                         <%= error.msg %>
                                             <% } %>
                                         <% }); %>
                                 </span>
                             <% } %>

                                <div class="form-group">
                                    <label  for="loginPassword" class="control-label">Password</label>
                                    <input type="password" placeholder="Password" class="form-control" name="password" />
                                </div>

                                <% if (errors && errors.length> 0) { %>
                                  <span style="color: red;">
                                       <% errors.forEach(error=> { %>
                                         <% if(error.path==='password' ) {%>
                                           <%= error.msg %>
                                               <% } %>
                                           <% }); %>
                                   </span>
                               <% } %>

                                <div class="form-group">
                                    <input type="submit" value="Register" class="btn btn-lg btn-success btn-block" id="button1" />
                                </div>
                                
                            </form>
                    <br />
                    <p>
                        Not Registered Yet ? Click Here To <a href="login">Log In</a>
                    </p>
                        </div>
                
                    </div>
                </div>

            </div>
    
        </div>


      </div>

</body>

</html>