<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/assets/images/logo mini.jpg">
        <link rel="stylesheet" href="/assets/css/services.css">

        <title>one step paws - SERVICE</title>
        <style>

    </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="container">
                <img src="/assets/images/logo.jpg" alt="Logo">
                <h2>One Step Paws</h2>
                <% if(user_id) { %>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="aboutUs">ABOUT</a></li>
                        <li><a href="services"> SERVICE</a> </li>
                        <li><a href="contact">CONTACT US</a></li>
                        <li><a href="userProfile">DASHBOARD</a></li>
                        <li><a href="logout">LOGOUT</a></li>
                        <a class="btn" href="bookService">
                            <ion-icon name="bag-check-outline"></ion-icon>BOOK NEW </a>
                    </ul>
                    <% } else { %>
                        <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="aboutUs">ABOUT</a></li>
                            <li><a href="services"> SERVICE</a> </li>
                            <li><a href="contact">CONTACT US</a></li>
                            <li><a href="login">LOG IN</a></li>
                            <li><a href="register">REGISTRATION</a></li>
                        </ul>
                    <% } %>
               
            </div>

        <section class="main">
            <section class="section section-left">
                <div class="paras">
                    <p class="sectionTag text-big">Dog medical services</p>
                    <p class="sectionSubTag text-small">Dog medical services encompass a range of veterinary care, including preventive 
                        measures like vaccinations, routine check-ups, and dental care. Additionally, these services address illness and
                         injuries through diagnostics, medications, and surgical interventions. Emergency care, nutritional guidance, and 
                         specialized treatments for conditions like arthritis or allergies are also part of comprehensive
                         dog medical services. Regular veterinary visits are crucial to ensure your dog's overall health and well-being.</p>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/dog medical services.jpg"
                        alt="Computer Programming" class="imgFluid">
                </div>
            </section>
            <section class="section">
                <div class="paras">
                    <p class="sectionTag text-big">Theme based pet care
                        event</p>
                    <p class="sectionSubTag text-small">Pawty in the Park: Host a pet-friendly outdoor 
                        event with activities like agility courses, doggy costume contests, and pet-friendly vendors.
                    </p>
                    <p class="sectionSubTag text-small">Pet Olympics: Create a mini Olympics-style event with pet-friendly
                         games and competitions like the "longest tail wag," "fastest fetch," and "best trick."</p>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/theme based pet care event.jpg"
                        alt="Computer Programming" class="imgFluid">
                </div>
            </section>

            <section class="section section-left">
                <div class="paras">
                    <p class="sectionTag text-big"> Pet adventure trip </p>
                    <p class="sectionSubTag text-small">Hiking Expeditions: Organize guided hiking trips in
                         pet-friendly trails and parks, providing a chance for pets and their owners to enjoy
                          nature while getting exercise and fresh air.  Photography Expeditions: Arrange guided
                           photography tours where pet owners can capture stunning outdoor moments with their furry 
                           companions, learning tips and techniques for pet photography along the way.
                        </p><br>

                    <p class="sectionSubTag text-small">
                        Multi-Day Expeditions: Organize multi-day adventure trips for pets and their owners, combining 
                        various outdoor activities like hiking, camping, kayaking, and more into unforgettable wilderness 
                        experiences.</p>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/adventure trip.png"
                        alt="Computer program § Languages" class="imgFluid">
                </div>
            </section>

            <section class="section">
                <div class="paras">
                    <p class="sectionTag text-big">Holistic wellness workshop</p>
                    <p class="sectionSubTag text-small">Mindfulness and Relaxation Techniques for Dogs : Provide workshops on
                         mindfulness techniques, relaxation exercises, and calming strategies for dogs to reduce anxiety, manage
                         stress, and promote emotional well-being and resilience.
                        Doggy Yoga and Canine</p>
                    <p class="sectionSubTag text-small">Fitness Classes: Offer classes and workshops focused on doggy yoga 
                        (doga) and canine fitness exercises to improve flexibility, strength, balance, and mobility in dogs 
                        while fostering a deeper bond with their owners.</p>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/holistic development.jpg"
                        alt="Taypes of Programming Languages" class="imgFluid">
                </div>
            </section>

            <section class="section section-left">
                <div class="paras">
                    <p class="sectionTag text-big">Art & Craft</p>
                    <p class="sectionSubTag text-small">Create a charming dog-themed craft by making paw print paintings. 
                        Dip your dog's paw in non-toxic paint and press it onto canvas or paper. Add details with brushes to turn
                         paw prints into playful dog characters. Frame the masterpiece for a personalized touch to your decor.</p>
                    
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/art and craft.jpg"
                        alt="Taypes of Programming Languages" class="imgFluid">
                </div>
            </section>
            <section class="section ">
                <div class="paras">
                    <p class="sectionTag text-big">Nutrition counselling</p>
                    <p class="sectionSubTag text-small">Create a charming dog-themed craft by making paw print paintings. 
                        Dip your dog's paw in non-toxic paint and press it onto canvas or paper. Add details with brushes to turn
                         paw prints into playful dog characters. Frame the masterpiece for a personalized touch to your decor.</p>
                    
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/nutrtion  councelling.jpg"
                        alt="Taypes of Programming Languages" class="imgFluid">
                </div>
            </section>
            <section class="section section-left">
                <div class="paras">
                    <p class="sectionTag text-big">IQ Test</p>
                    <p class="sectionSubTag text-small">Challenge your dog's mental abilities with 
                        a fun and engaging IQ test. This activity can provide valuable insights into
                         your dog's intelligence and problem-solving skills. 
                    </p>
                    
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/iq test.jpg"
                        alt="Taypes of Programming Languages" class="imgFluid">
                </div>
            </section>
            <section class="section ">
                <div class="paras">
                    <p class="sectionTag text-big"> Story Telling/Cartoon Films
                    </p>
                    <p class="sectionSubTag text-small">Cuddle up with your furry friend and 
                        enjoy a session of storytelling or watch dog-themed cartoon films together.
                         This is a relaxing and enjoyable way to spend quality time with your pooch. 
                    </p><br>

                    
                </div>
                <div class="thumbnail">
                    <img src="/assets/images/Story tellingcartoon films.png"
                        alt="Computer program § Languages" class="imgFluid">
                </div>
            </section>

           

            <section class="section section-left">
                <div class="paras">
                    <p class="sectionTag text-big"> Swimming Pool/Bathing </p>
                    <p class="sectionSubTag text-small">Keep your furry friend clean and cool with a
                         refreshing dip in a dog-friendly pool or a professional bath service.

                    </p><br>
                </div>
                <div class="thumbnail">
                    <img src="/assets/images/Surimming poolbathing.jpg"
                        alt="Computer program § Languages" class="imgFluid">
                </div>
            </section>

            <section class="section">
                <div class="paras">
                    <p class="sectionTag text-big">Grooming (Small Size & Large Size)</p>
                    <p class="sectionSubTag text-small">Treat your dog to a professional
                         grooming session, offered in options for both small and large breeds. 
                         This service will leave your dog looking and feeling their best. 
                    </p>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/grooming.jpg"
                        alt="Computer Programming" class="imgFluid">
                </div>
            </section>

            <section class="section section-left">
                <div class="paras">
                    <p class="sectionTag text-big">Training </p>
                    <p class="sectionSubTag text-small">
                        Get expert advice on training your dog with positive reinforcement techniques. This session can help 
                        address basic obedience commands, unwanted behaviors, and specific training goals you have for your 
                        furry companion.

                    </p><br>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/training.jpg"
                        alt="Computer program § Languages" class="imgFluid">
                </div>
            </section>

            <section class="section">
                <div class="paras">
                    <p class="sectionTag text-big">Photography</p>
                    <p class="sectionSubTag text-small">Capture those precious moments with 
                        your pup with a professional photoshoot or learn dog photography yourself. </p>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/photoshoot.jpg"
                        alt="Computer Programming" class="imgFluid">
                </div>
            </section>
        </section>
        <section class="main1">
            <section class="section section-left">
                <div class="paras">
                    <p class="sectionTag text-big">Breeding </p>
                    <p class="sectionSubTag text-small">Responsible breeding programs ensure the 
                        health and well-being of future generations of dogs.

                    </p><br>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/breeding.jpg"
                        alt="Computer program § Languages" class="imgFluid">
                </div>
            </section>

            <section class="section">
                <div class="paras">
                    <p class="sectionTag text-big">Dog care</p>
                    <p class="sectionSubTag text-small"> Choose from various boarding options to suit your
                         needs, including half-day, full-day, and even specialized care for street dogs.</p>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/day care.jpg"
                        alt="Computer Programming" class="imgFluid">
                </div>
            </section>
            <section class="section section-left">
                <div class="paras">
                    <p class="sectionTag text-big">Dog Taxi</p>
                    <p class="sectionSubTag text-small">Enjoy the convenience of having your dog picked
                         up and dropped off at your doorstep for their appointments or daycare.

                    </p>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/dog taxi.jpeg"
                        alt="Computer Programming" class="imgFluid">
                </div>
            </section>
            <section class="section ">
                <div class="paras">
                    <p class="sectionTag text-big">Shopping from Store </p>
                    <p class="sectionSubTag text-small">  Find everything you need for your furry 
                        companion, from food and toys to accessories and grooming supplies, at a 
                        dedicated pet store.


                    </p><br>
                </div>
                <div class="thumbnail">
                    <img src="/assets/services/Dog shop.jpg"
                        alt="Computer program § Languages" class="imgFluid">
                </div>
            </section>
        </section>
          

            <!--     footer      -->
            <footer>
                <div class="footer-content">
                    <div class="col">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="aboutus.html">About Us</a></li>
        
                            <li><a href="service.html">Services</a></li>
                            <li><a href="contactus.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>About</h4>
                        <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Service Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <img class="logo" src="/assets/images/logo.jpg" alt="" width="100">
                        <h4>Contact</h4>
                        <p><strong>Address: </strong> 160 Luxury Villa, Surat - 395008</p>
                        <p><strong>Phone: </strong> (+91) 9265849179</p>
                        <p><strong>Hours: </strong> 10:00 - 18:00, Mon - Sat</p>
                    </div>
                </div>
            </div>
                <div class="footer-bottom">
                    &copy; 2024 One Step Paws
                </div>
        </footer>

            <script type="module"
                src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule
                src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        </body>
    </html>